
#--------------------------------------------------------------------------------------
# UCL -- Institute of Finance & Technology
# Student Name  : Muideen Abubakar
# Student Number : 21125043
# Coursework Two : Config File 




Directories <- list(SQLDataBase = "../../000.DataBases/SQL/Equity.db",
                    HelperFunctions = "./Modules/Helpers/Utilities.R")


Config <- list(Directories = Directories)

