
#--------------------------------------------------------------------------------------
# Student Name  : Muideen Abubakar
# Doc Title : Config File 




Directories <- list(SQLDataBase = "../../000.DataBases/SQL/Equity.db",
                    HelperFunctions = "./Modules/Helpers/Utilities.R")


Config <- list(Directories = Directories)

